body{
background-color: black;
box-sizing: border-box;
padding: 0px;
margin: 0px;
font-family: 'Roboto', sans-serif;
margin-bottom: 0px;

}

.container{
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-auto-rows: minmax(70, auto);

grid-template-areas: 
". header header header header header header header header header header . "
". heading heading heading heading heading heading heading heading heading heading . "
". random random random random random random random random random random . "
". thor thor thor thor thor thor thor thor thor thor . "
". call-action call-action call-action call-action call-action call-action call-action call-action call-action call-action . "
". footer footer footer footer footer footer footer footer footer footer . ";



}

.header{
background-color: white;
grid-area: header;
background-color: #1f2937;





}


.heading{
    background-color: white;
    grid-area: heading;
    background-color: #1f2937;
    color: white;
    
    
}
.random{
    background-color: white;
    grid-area: random;
}
.thor{
    background-color: #E5E7EB;
    grid-area: thor;
}
.call-action {
    background-color: white;
    grid-area: call-action;
}
.footer{
    grid-area: footer;
    background-color: #1f2937;
}

.copyright{
    color: white;
    text-align: center;
    
    
}

.logo, span{

font-size: 20px;
font-weight: 900;

}

span{
    color: blue;
  
}

.logo{
color: white;
/*border-style: solid; color: white;*/ 
float: left; 
margin-left: 25px;

    

}

li {
    
    color: white;
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    float: left;
    
}

.heading-text{
    float: left;
    margin-right: 100px;
    margin-left: 50px;
    padding: 10px;
    display: inline-block;
    width: 350px;
    font-weight: 900px;

}

.placeholder {
    float: left;
    width: 500px;
    height: auto;
    background-color: white;
    display: inline-block;
    margin-top: 50px;

}

.btn-1{
width: 120px;
height: 40px;
background-color: #3882F6;
border-radius: 10px;
color: white;
font-size: 20px;
margin-top: 50px;


}
